h1, h2, p {
  font-family: 'Rajdhani', sans-serif;
  color: #444444;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 24px;
  color: #888888;
}

p {
  font-size: 18px;
}

#information {
  margin-left: 50px;
  margin-top: 50px;
  width: 450px;
  height: 900px;
}

#interaction {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 100px;
  height: 100px;
  background-image: url("https://raw.githubusercontent.com/knot-a-conversation/sculpture/main/qr-knot2.png");
  background-size: 100%;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.15);
  border: 5px solid #efefef
}

#qr-inst {
  text-align: center;
  font-size: 14px;
  position: fixed;
  top: 140px;
  right: 30px;
  width: 100px;
}
